<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0"></meta>
<title>举报提交</title>
<link rel="stylesheet"
	href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"></link>
<link rel="stylesheet"
	href="/css/style.css"></link>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
<script type="text/javascript" src="/js/zepto.min.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


<style>
body, html {
	height: 100%;
	background-color: #f8f8f8
}

body {
	font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif
}

.item {
	padding: 10px 0
}

.item__title {
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #999;
	font-weight: 400;
	font-size: 14px
}

.item__ctn {
	padding: 0 15px
}

.page_feedback {
	padding: 15px;
	overflow: auto;
	background-color: #FFF
}

label>* {
	pointer-events: none
}

.weui-picker__item {
	padding: 0;
	height: 34px;
	line-height: 34px
}
</style>
</head>
<body>
	<div class="weui-toptips weui-toptips_warn js_tooltips"
		style="display: none;">错误提示</div>
	<div class="container" id="container">
		<div class="page input js_show">
			<div class="page__hd">
				<h1 class="page__title">举报提交</h1>
				<p class="page__desc">请填写举报内容</p>
			</div>
			<div class="page__bd">
			<div class="weui-cells__title">类别选择</div>
				<div class="page__bd page__bd_spacing">
					<a href="javascript:;" class="weui-btn weui-btn_default"
						id="showPicker"> 选择类别</a> 
				</div>
				<div class="weui-cells__title">上传图片</div>
				<div class="weui-cells weui-cells_form" id="uploader">
					<div class="weui-cell">
						<div class="weui-cell__bd">
							<div class="weui-uploader">
								<div class="weui-uploader__hd">
									<p class="weui-uploader__title"></p>
									<div class="weui-uploader__info">
										<span id="uploadCount">0</span>/5
									</div>
								</div>
								<div class="weui-uploader__bd">
									<ul class="weui-uploader__files" id="uploaderFiles"></ul>
									<div class="weui-uploader__input-box">
										<input id="uploaderInput" class="weui-uploader__input"
											type="file" name="file" accept="image/*" multiple="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui-cells__title">地图</div>
				<div class="weui-cell" id = "map" style="height:160px">
					
				</div>
				<div class="weui-cells__title">描述</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__bd">
							<textarea class="weui-textarea" id="information" placeholder="请输入文本" rows="3"></textarea>
							<div class="weui-textarea-counter">
								<span>0</span>/200
							</div>
						</div>
					</div>
				</div>
				<div class="weui-btn-area">
					<a id="uploaderCustomBtn" href="javascript:"
						class="weui-btn weui-btn_primary">提交</a>
				</div>
				<p id = "registed" style="display:none" th:text="${registed}"></p>
			</div>
		</div>
	</div>
	<script src = "https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.0&key=b08ce4afba6261f6d3ad9f3a46b9f7aa"></script>
	<script type="text/javascript" class="input js_show">
	var longitude = "";
	var latitude = "";
	function showLocationName(longitude,latitude)
	{
		AMap.service('AMap.Geocoder',function(){//回调函数
		    //实例化Geocoder
		    var geocoder = new AMap.Geocoder({
		        
		    });
		    var lnglatXY=[longitude, latitude];//地图上所标点的坐标
			geocoder.getAddress(lnglatXY, function(status, result) {
			    if (status === 'complete' && result.info === 'OK') {
			      	var title = result.regeocode.formattedAddress
			      	showMap(longitude,latitude,title);
			    }else{
			       //获取地址失败
			    }
			});  
		})
		
	}
	
	function showMap(longitude,latitude,title)
	{
		var map = new AMap.Map('map',{
	        resizeEnable: true,
	        zoom: 10,
	        center: [longitude, latitude]
	    });
		
		
		marker = new AMap.Marker({
			position:[longitude, latitude],
			title:title,
			map:map
		});
		var infoWindow = new AMap.InfoWindow();
		marker.content= title;
		marker.on('click', function(e){
			infoWindow.setContent(e.target.content);
		    infoWindow.open(map, e.target.getPosition());
		});
		
		map.setFitView();
	}
	
	function getsdkinfo()
	{
		var url = window.location.href;
		$.get("/weixin/jsapi",{url:url}, function (data) {
            initjssdk(data.appid,data.timestamp,data.noncestr,data.jsapi_ticket);
        });
	}
	
	wx.ready(function(){
		wx.getLocation({
		    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
		    success: function (res) {
		        latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
		        longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
		        showLocationName(longitude,latitude);
		    }
		});
	});
	
	wx.error(function(res){
		showError("定位失败");
	});
	
	function initjssdk(appId,timsstamp,nonceStr,signature)
	{
		wx.config({
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: appId, // 必填，公众号的唯一标识
		    timestamp: timsstamp, // 必填，生成签名的时间戳
		    nonceStr: nonceStr, // 必填，生成签名的随机串
		    signature: signature,// 必填，签名，见附录1
		    jsApiList: ["openLocation","getLocation","closeWindow"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
	}
	
		$(function() {	
			var registed = $("#registed").text();
			if(registed == "false")
			{
				weui.dialog({
				    title: '完善信息',
				    content: '请先完善个人信息',
				    className: 'custom-classname',
				    buttons: [{
				        label: '确定',
				        type: 'primary',
				        onClick: function () { wx.closeWindow(); }
				    }]
				});
				
				return false;
			}
			
			getsdkinfo();
			
			$.get("/weixin/gettypes", null, function (data) {
                addPickerData(data);
            },"json");
			
			/* 图片自动上传 */
			var uploadCount = 0, uploadList = [];
			var uploadCountDom = document.getElementById("uploadCount");
			weui.uploader('#uploader', {
			    url: '/weixin/imgupload',
			    auto: true,
			    type: 'file',
			    fileVal: 'fileVal',
			    compress: {
			        width: 1600,
			        height: 1600,
			        quality: .8
			    },
			    onBeforeQueued: function(files) {
			        if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
			            weui.alert('请上传图片');
			            return false;
			        }
			        if(this.size > 10 * 1024 * 1024){
			            weui.alert('请上传不超过10M的图片');
			            return false;
			        }
			        if (files.length > 5) { // 防止一下子选中过多文件
			            weui.alert('最多只能上传5张图片，请重新选择');
			            return false;
			        }
			        if (uploadCount + 1 > 5) {
			            weui.alert('最多只能上传5张图片');
			            return false;
			        }

			        ++uploadCount;
			        uploadCountDom.innerHTML = uploadCount;
			    },
			    onQueued: function(){
			        uploadList.push(this);
			        console.log(this);
			    },
			    onBeforeSend: function(data, headers){
			        console.log(this, data, headers);
			        // $.extend(data, { test: 1 }); // 可以扩展此对象来控制上传参数
			        // $.extend(headers, { Origin: 'http://127.0.0.1' }); // 可以扩展此对象来控制上传头部

			        // return false; // 阻止文件上传
			    },
			    onProgress: function(procent){
			        console.log(this, procent);
			    },
			    onSuccess: function (ret) {
			        console.log(this, ret);
			        var uploadID = this.id;
					$("#uploaderFiles li").each(function(){
	                    if ($(this).attr("data-id") == uploadID)
	                    {
	                        $(this).attr("data-fid", ret.resultText);
	                    }
	                });
			    },
			    onError: function(err){
			        console.log(this, err);
			    }
			});

			// 缩略图预览
			document.querySelector('#uploaderFiles').addEventListener('click', function(e){
			    var target = e.target;

			    while(!target.classList.contains('weui-uploader__file') && target){
			        target = target.parentNode;
			    }
			    if(!target) return;

			    var url = target.getAttribute('style') || '';
			    var id = target.getAttribute('data-id');

			    if(url){
			        url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '');
			    }
			    var gallery = weui.gallery(url, {
			        className: 'custom-name',
			        onDelete: function(){
			            weui.confirm('确定删除该图片？', function(){
			                --uploadCount;
			                uploadCountDom.innerHTML = uploadCount;


			                for (var i = 0, len = uploadList.length; i < len; ++i) {
			                    var file = uploadList[i];
			                    if(file.id == id){
			                        file.stop();
			                        $("#uploaderFiles li").each(function () {
	                                    if ($(this).attr("data-id") == id) {
	                                        var fid = $(this).attr("data-fid");
	                                        $('#loadingToast').fadeIn(100);
	                                        var param = {};
	                                        param.flag = new Date().getTime();
	                                        param.ID = fid;
	                                        $.post("/imgdelete", param, function (data) {
	                                            $('#loadingToast').fadeOut(100);
	                                        });
	                                    }
	                                });
			                        break;
			                    }
			                }
			                target.remove();
			                gallery.hide();
			            });
			        }
			    });
			});

			
			function addPickerData(eventTypes){
				$('#showPicker').on('click', function () {
					// 级联picker
					weui.picker(eventTypes, {
					   className: 'custom-classname',
					   container: 'body',
					   defaultValue: [1, 3],
					   onChange: function (result) {
					       console.log(result)
					   },
					   onConfirm: function (result) {
					       console.log(result)
					       pickerConfirm(result);
					   },
					   id: 'doubleLinePicker'
					});
			    });
			}
				
			var pickerSelected = false;
			function pickerConfirm(result)
			{
				$("#showPicker").text(result[1].label);
				pickerSelected = true;
			}
			
		
			function showError(error_msg) {
				var $tooltips = $('.js_tooltips');
				$tooltips.html(error_msg);
				if ($tooltips.css('display') != 'none')
					return;

				// toptips的fixed, 如果有`animation`, `position: fixed`不生效
				$('.page.cell').removeClass('slideIn');

				$tooltips.css('display', 'block');
				setTimeout(function() {
					$tooltips.css('display', 'none');
				}, 2000);
			}
			
			$("#uploaderCustomBtn").on('click',function(){
				
				if($('#uploaderCustomBtn').hasClass("weui-btn_disabled"))
					return false;
				
				var type = $(showPicker).text();
				if(pickerSelected == false)
				{
					showError("请选择类别");
					return false;
				}
				
				var images = $("#uploaderFiles li");
				if(images.length == 0)
				{
					showError("请至少上传一张照片");
					return false;
				}
					
				
				var info = $("#information").val();
				if(info.length == 0)
				{
					showError("请添加描述");
					return false;
				}

				var imageFileNames = new Array();
				images.each(function(){
					imageFileNames.push($(this).attr("data-fid"));
				});
				
				var param = {};
				param.text = info;
				param.images = imageFileNames;
				param.type = type;
				param.longitude = longitude;
				param.latitude = latitude;
				
				
				$.ajax({
	                url : "/weixin/posteventinfo",
	                type : "POST",
	                contentType: "application/json;charset=utf-8",
	                data : JSON.stringify(param),
	                dataType : "json",
	                success : function(ret) {
	                	$("#weui-uploader__bd").attr("disabled",true);
	                	$('#uploaderCustomBtn').addClass("weui-btn_disabled");
	                	weui.toast('操作成功', {
	      			        duration: 2000,
	      			        className: "bears",
	      			        	callback: function(){ wx.closeWindow() }
	      			    	});
	                },
	                error:function(msg){
	                		showError("网络错误");
	                }
	              }) 
				
			});

		});
	</script>

</body>
</html>
