<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0"></meta>
<title>事件内容</title>
<link rel="stylesheet"
	href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"></link>
<link rel="stylesheet" href="/css/style.css"></link>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
<script type="text/javascript" src="/js/zepto.min.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


<style>
body, html {
	height: 100%;
	background-color: #f8f8f8
}

body {
	font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif
}

.item {
	padding: 10px 0
}

.item__title {
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #999;
	font-weight: 400;
	font-size: 14px
}

.item__ctn {
	padding: 0 15px
}

.page_feedback {
	padding: 15px;
	overflow: auto;
	background-color: #FFF
}

label>* {
	pointer-events: none
}

.weui-picker__item {
	padding: 0;
	height: 34px;
	line-height: 34px
}

.process{
	margin-top: 5px;
}

.peocess_cell{
	padding: 10px 15px;
}

</style>
</head>
<body>
	<div class="weui-toptips weui-toptips_warn js_tooltips"
		style="display: none;">错误提示</div>
	<div class="container" id="container">
		<div class="page input js_show">
			<div class="page__hd">
				<h1 class="page__title">事件内容</h1>
				<p class="page__desc" th:text = ${event.eventNo}></p>
			</div>
			<div class="page__bd">
			
				<div class="weui-cells__title">提交内容</div>
				<div class="weui-cell">
					<p th:text = "${event.text}"></p>
				</div>
				<div class="weui-cells__title">进度展示</div>
				<div class="peocess_cell">
				
				<div class="process" th:each = "flow:${event.flows}"><i th:class="'weui-icon-'+${flow.icon}"></i><a th:text="${flow.flowDesc}"></a></div>
				</div>
				
				<div class="weui-cells__title">图片</div>
					<div class="weui-cell">
						<div class="weui-cell_bd">
							<div class="weui-uploader__bd">
								<ul class="weui-uploader__files" id="uploaderFiles">
									<li class="weui-uploader__file" th:each = "img:${event.images}"
										th:style="'background-image: url(/' + ${img} +');'"></li>
								</ul>
							</div>
					</div>
				</div>
				<div class="weui-cells__title">地图</div>
				<div class="weui-cell" id = "map" style="height:160px">
					
				</div>
				<div class="weui-cells__title">处理结果</div>
				<div class="weui-cell">
					<p th:text = "${event.result}"></p>
				</div>
				<p id = "showTextArea" style="display:none" th:text="${event.showInputResult}"></p>
				<p id = "eventFinish" style="display:none" th:text="${event.eventFinish}"></p>
				<p id = "longitude" style="display:none" th:text="${event.longitude}"></p>
				<p id = "latitude" style="display:none" th:text="${event.latitude}"></p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.0&key=b08ce4afba6261f6d3ad9f3a46b9f7aa"></script>
	<script type="text/javascript" class="input js_show">
		$(function() {
			

			// 缩略图预览
			document.querySelector('#uploaderFiles').addEventListener(
					'click',
					function(e) {
						var target = e.target;

						while (!target.classList.contains('weui-uploader__file')&& target) {
							target = target.parentNode;
						}
						if (!target) return;

						var url = target.getAttribute('style') || '';

						if (url) {
							url = url.match(/url\((.*?)\)/)[1]
									.replace(/"/g, '');
						}
						var gallery = weui.gallery(url, {
							className : 'custom-name',
						});
					});
			var longitude = $("#longitude").text();
			var latitude = $("#latitude").text();
			showLocationName(longitude,latitude);
		});
		
		function showLocationName(longitude,latitude)
		{
			AMap.service('AMap.Geocoder',function(){//回调函数
			    //实例化Geocoder
			    var geocoder = new AMap.Geocoder({
			        
			    });
			    var lnglatXY=[longitude, latitude];//地图上所标点的坐标
				geocoder.getAddress(lnglatXY, function(status, result) {
				    if (status === 'complete' && result.info === 'OK') {
				      	var title = result.regeocode.formattedAddress
				      	showMap(longitude,latitude,title);
				    }else{
				       //获取地址失败
				    }
				});  
			})
			
		}
		
		function showMap(longitude,latitude,title)
		{
			var map = new AMap.Map('map',{
		        resizeEnable: true,
		        zoom: 15,
		        center: [longitude, latitude]
		    });
			
			
			marker = new AMap.Marker({
				position:[longitude, latitude],
				title:title,
				map:map
			});
			var infoWindow = new AMap.InfoWindow();
			marker.content= title;
			marker.on('click', function(e){
				infoWindow.setContent(e.target.content);
			    infoWindow.open(map, e.target.getPosition());
			});
			
			map.setFitView();
		}
		
		
	</script>
</body>
</html>