<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0"></meta>
<title>提交列表</title>
<link rel="stylesheet"
	href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript"
	src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


<style>
body, html {
	height: 100%;
	background-color: #f8f8f8
}

body {
	font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif
}

.item {
	padding: 10px 0
}

.item__title {
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #999;
	font-weight: 400;
	font-size: 14px
}

.item__ctn {
	padding: 0 15px
}

.page_feedback {
	padding: 15px;
	overflow: auto;
	background-color: #FFF
}

label>* {
	pointer-events: none
}

.weui-picker__item {
	padding: 0;
	height: 34px;
	line-height: 34px
}
</style>
</head>
<body>
	<div class="weui-toptips weui-toptips_warn js_tooltips"
		style="display: none;">错误提示</div>
	<div class="container" id="container">
		<div class="page input js_show">
			<div class="page__hd">
				<h1 class="page__title">提交列表</h1>
				<p class="page__desc">点击列表查看详细内容</p>
			</div>
			<div class="page__bd">
				<div class="weui-cells__title">列表</div>
				<div class="weui-cells">

					<a class="weui-cell weui-cell_access" href="javascript:;">
						<div class="weui-cell__hd">
							<img
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
								alt="" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui-cell__bd">
							<p>cell standard</p>
						</div>
						<div class="weui-cell__ft">说明文字</div>
					</a> <a class="weui-cell weui-cell_access" href="javascript:;">
						<div class="weui-cell__hd">
							<img
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
								alt="" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui-cell__bd">
							<p>cell standard</p>
						</div>
						<div class="weui-cell__ft">说明文字</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" class="input js_show">
		$(function() {
			var $tooltips = $('.js_tooltips');

			$('#showTooltips').on('click', function() {
				if ($tooltips.css('display') != 'none')
					return;

				// toptips的fixed, 如果有`animation`, `position: fixed`不生效
				$('.page.cell').removeClass('slideIn');

				$tooltips.css('display', 'block');
				setTimeout(function() {
					$tooltips.css('display', 'none');
				}, 2000);
			});
		});
	</script>
</body>
</html>